.top-nav {
  @apply section-bg font-sans flex items-center w-full text-gray-600 py-1 border-b;
}

.left-nav-menu {
  @apply flex flex-col pt-10 justify-center items-center;
}

.left-nav {
  @apply w-36 flex pt-10 pb-4 flex-col min-h-screen bg-teal-600 outline-none;
}

.left-nav-detached {
  @apply flex flex-col my-4 ml-4 pt-10 pb-10 w-32 min-h-screen rounded-3xl bg-gradient-to-b from-teal-500 via-teal-600 to-teal-700;
}

.left-nav-item {
  @apply py-6 hover:bg-teal-700 flex justify-center items-center w-full h-full;
  @apply transition duration-300 ease-linear;
}

.left-nav-active {
  @apply bg-teal-800 border-l-4 border-gray-100;
}

svg.nav-link {
  @apply w-10 h-10 text-white cursor-pointer;
}

svg.link {
  @apply w-8 h-8 cursor-pointer hover:text-teal-600;
}

.nav-avatar {
  @apply relative overflow-hidden w-20 h-20 rounded-full border-4 border-gray-100 cursor-pointer;
}

/* Multi Menu */
li > ul {
  transform: translateX(100%) scale(0);
}

li:hover > ul {
  transform: translateX(101%) scale(1);
}

li > button svg {
  transform: rotate(-90deg);
}

li:hover > button svg {
  transform: rotate(-270deg);
}

.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}

.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}

.scale-0 {
  transform: scale(0);
}

.multi-menu {
  @apply px-2 pt-2 pb-4 bg-white rounded-md grid grid-cols-1 gap-4 bg-white border rounded-sm absolute origin-top z-10;
}

.multi-menu-item {
  @apply flex items-start rounded-lg bg-transparent p-2;
  @apply hover:text-gray-900 hover:bg-gray-200 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:ring;
}

.menu-item {
  @apply px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg;
  @apply hover:text-gray-900 hover:bg-gray-200;
  @apply focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:ring;
}

.sub-menu {
  @apply bg-white border rounded-sm absolute top-0 right-0 transition duration-150 ease-in-out origin-top-left;
}

.sub-menu-button {
  @apply block w-full px-4 py-2 font-medium text-gray-700 whitespace-nowrap transition duration-300 ease-in-out;
  @apply hover:bg-gray-100 hover:text-gray-900;
  @apply focus:outline-none focus:text-gray-900 focus:ring;
}

@screen md {
  .menu-item {
    @apply mt-0 ml-4;
  }

  .multi-menu {
    @apply grid-cols-2
  }
}
